body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

h2 {
  margin-left: 10px;
  text-decoration: underline;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  border-radius: 5px;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #3500f7;
}

.navbar #login {
  float: right;
}

.navbar #endpoints {
  margin-left: 17em;
}

.center-box {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
}

form {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 3px;
}

input, select {
  width: 95%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  margin-right: 0.5em;
}

button:hover {
  background-color: #45a049;
  cursor: pointer;
}

.errorMessage {
  text-align: center;
  color: red;
}

.red {
  background-color: red;
}

.red:hover {
  background-color: darkred;
}

#present-list {
  margin-top: 20px;
}

#present-list .present {
  padding-bottom: 25px;
}

#present-list .present .priceAndLink {
  font-style: italic;
  color: grey;
  font-size: 0.9em;
  font-weight: bold;
  display: flex;
}

#present-list .present .priceAndLink .price {
  margin-right: 6px;
}

#friends-list {
  margin-top: 20px;
}

.friend, .present, .box {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  position: relative;
}

.actions {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.note {
  font-size: 0.8em;
  color: grey;
  font-style: italic;
}

#present-info {
  display: flex;
  justify-content: space-between;
}

.blue {
  background-color: royalblue;
}

.blue:hover {
  background-color: blue;
}

a {
  border-radius: 3px;
  padding: 3px;
}

a:hover {
  background-color: #afafaf;
  color: #fafafa !important;
}

a:visited {
  color: inherit;
}

.friend:hover h3, .present:hover h3 {
  cursor: pointer;
}

hr {
  margin-top: 2em;
  margin-bottom: 2em;
  color: lightgray;
}

.chosen {
  font-size: 0.65em;
  font-style: italic;
}
